
<!-- Adding a sidebar to the user 'show' view-->
<table class="profile" summary="Profile information">
	<tr>
		<td class="main">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</td>
		<td class="sidebar round">
		<strong>Name</strong> <%= @user.name %><br />
		<strong>URL</strong> <%= link_to user_path(@user), @user %> <!-- user_path(@user) is the link TEXT, while the address is just @user. In the context of a "link_to", Rails converts @user to the appropiate URL (@user is equivalent to user_path(@user)) -->
		</td>
	</tr>
</table>