<!DOCTYPE html>
<html>
<head>
  <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
  <%= csrf_meta_tag %> <!-- to prevent cross-site request forgery (CSRF), a type of malicious web attack. -->
</head>
<body>
	<%= yield %>
</body>
</html>
